h1,
h2,
h3,
p {
  margin: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

span {
  color: #2196F3;
}

ul {
  list-style: none;
}

link {
  font-family: inherit;
}

@media screen and (min-width: 768px) {
  .current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
  }
}

body {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

section {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    padding: 16px 0;
  }
}
.logo--footer {
  display: inline-block;
  padding: 0 40px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .logo--footer {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .logo--footer {
    padding: 0;
    margin-left: 0;
  }
}

button {
  font-family: inherit;
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover, button:focus {
  cursor: pointer;
  background-color: #2196F3;
  color: #ffffff;
  border: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.header {
  border-bottom: 1px solid #ECECEC;
  align-items: center;
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.header__icon {
  fill: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.header__item {
  margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199) {
  .header__item:last-child {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__item {
    margin-left: 50px;
  }
  .header__item:first-child {
    margin-left: 0px;
  }
}
.header__contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 1199px) {
  .header__contacts {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header__link {
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196F3;
}
.header__link--mail {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}
.header__link--phone {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}
@media screen and (max-width: 1199px) {
  .header__link--phone {
    margin-top: 10px;
  }
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .site-nav {
    justify-content: center;
    margin: 0 auto;
  }
}
.site-nav__menu {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.site-nav__item {
  margin-left: 50px;
}
.site-nav__item:first-child {
  margin-left: 0px;
}
.site-nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 3px;
  padding-right: 3px;
  color: #212121;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--current {
  color: #2196F3;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.icon-menu {
  display: none;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
}
.icon-menu:hover, .icon-menu:focus {
  fill: #2196F3;
  border: none;
}
@media screen and (max-width: 767px) {
  .icon-menu {
    display: block;
  }
}

.mob-menu__button {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}
.mob-menu__button:hover, .mob-menu__button:focus {
  fill: #2196F3;
}
.mob-menu__container {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 48px 40px;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__container.is-open {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-menu__contacts {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.mob-menu__item {
  margin-bottom: 32px;
}
.mob-menu__link {
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: #2196F3;
}
.mob-menu__link--phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.mob-menu__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mob-menu__soc {
  display: flex;
  padding: 0;
  margin: 32px, 0, 0, 0;
}
.mob-menu__soc-item {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-menu__soc-item:first-child {
  padding-left: 0;
}
.mob-menu__soc-item:last-child {
  padding-right: 0;
  border-right: none;
}
.mob-menu__soc-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  font-family: inherit;
}

.mob-site-nav {
  display: none;
}
.mob-site-nav__menu {
  display: block;
  padding: 0px;
  margin: 0px;
}
.mob-site-nav__item {
  margin-bottom: 32px;
}
.mob-site-nav__item:last-child {
  margin-bottom: 200px;
}
.mob-site-nav__link {
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  position: relative;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-site-nav__link--current {
  color: #2196F3;
}
.mob-site-nav__link:hover, .mob-site-nav__link:focus {
  color: #2196F3;
}
@media screen and (max-width: 767px) {
  .mob-site-nav {
    display: block;
  }
}

.hero {
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mob.jpg), url(../images/header-mob.webp);
  padding: 118px 0;
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mob-2x.jpg), url(../images/header-mob-2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/head-tab.jpg), url(../images/head-tab.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/head-tab-2x.jpg), url(../images/head-tab-2x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg), url(../images/hero.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-des-2x.jpg), url(../images/header-des-2x.webp);
  }
}
.hero__text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero__text {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #ffffff;
  height: 50px;
}

.backdrop {
  padding: 93px 15px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  max-width: 420px;
  width: 100%;
  padding: 30px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 528px;
    height: 581px;
    padding: 40px;
  }
}
.modal__close-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  background: #ffffff;
  fill: #2196F3;
}
.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}

.feedback-form__field {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.feedback-form__comment {
  margin-bottom: 20px;
}
.feedback-form__icon {
  position: absolute;
  top: 50%;
  left: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__label {
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}
.feedback-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__input:focus {
  border-color: #2196F3;
}
.feedback-form__input:focus + .feedback-form__icon {
  fill: #2196F3;
}
.feedback-form__input-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__input-comment:focus {
  border-color: #2196F3;
}
.feedback-form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback-form__input-check:checked + .feedback-form__label-check span {
  background-color: #2196F3;
  border-color: #2196F3;
  fill: #FFFFFF;
}
.feedback-form__input-check:focus + .feedback-form__label-check span {
  border-color: #2196F3;
}
.feedback-form__label-check {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-right: 5px;
}
@media screen and (min-width: 768px) {
  .feedback-form__label-check {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.feedback-form__label-check span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__policy-link {
  margin: 0;
  color: #2196F3;
  text-decoration: none;
  border-bottom: 1px solid #2196F3;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .feedback-form__policy-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.feedback-form__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin-top: 30px;
}

.features {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}
.features__list {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}
.features__icon {
  position: relative;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 768px) {
  .features__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.features__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .features__title {
    text-align: center;
  }
}
.features__subtitle {
  color: #757575;
}

.services {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}
.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}
.services__list {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.services__item {
  margin-left: 30px;
}
.services__item:first-child {
  margin-left: 0px;
}
.services__thumb {
  position: relative;
}
.services__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  position: absolute;
  bottom: 0;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.team {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}
.team__member {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0px;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .team__member {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.team__item {
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 100%;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team-soc {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 10px;
}
.team-soc__item {
  margin: 0;
}
.team-soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc__link:hover, .team-soc__link:focus {
  background-color: #2196F3;
  color: #ffffff;
}
.team-soc__icon {
  fill: currentColor;
}

.team-desc {
  text-align: center;
  padding: 30px 0;
}
.team-desc__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}
.team-desc__subtitle {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0px;
  padding: 0px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
.clients__item {
  width: 210px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 30px) / 4);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}
.clients__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: #2196F3;
}

.product__filtr {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 auto 50px auto;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .product__filtr {
    display: flex;
    justify-content: center;
  }
}
.product__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__button:hover, .product__button:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.product__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.card {
  margin-bottom: 30px;
  width: 100%;
  max-width: 450px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card {
    margin-left: 30px;
    margin-bottom: 30px;
    max-width: 354px;
  }
  .card:nth-child(2n+1) {
    margin-left: 0;
  }
  .card:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    margin-left: 30px;
    margin-bottom: 30px;
    max-width: 370px;
  }
  .card:nth-child(3n+1) {
    margin-left: 0;
  }
  .card:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
.card__thumb {
  position: relative;
}
.card__desc {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  padding-top: 63px;
  padding-left: 24px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link {
  display: block;
  text-decoration: none;
  color: #212121;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.card__link:hover .card__desc {
  transform: translateY(0);
  opacity: 1;
}
.card__name {
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.card__subtitle {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.footer-adress__list {
  padding: 0px;
  margin: 0;
}
@media screen and (max-width: 1199px) {
  .footer-adress__list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.footer-adress__item {
  margin-top: 9px;
}
.footer-adress__item:first-child {
  margin-top: 0px;
}
.footer-adress__contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  padding: 0px;
  margin: 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-adress__contacts:hover, .footer-adress__contacts:focus {
  color: #2196F3;
}

.socials {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .socials {
    margin-top: 0;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .socials {
    margin-left: 70px;
    margin-top: 12px;
    width: 206px;
  }
}
.socials__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .socials__title {
    text-align: left;
  }
}
.socials__list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43444D;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196F3;
}

@media screen and (max-width: 1199px) {
  .subscription {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    position: absolute;
    right: 0;
  }
}
.subscription__title {
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .subscription__title {
    text-align: start;
    margin-top: 12px;
    margin-bottom: 20px;
  }
}
.subscription__form {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .subscription__form {
    flex-direction: column;
    align-items: center;
  }
}
.subscription__input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 15px 16px;
  margin: 20px 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    margin: 0;
  }
}
.subscription__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  font-family: inherit;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__button:hover, .subscription__button:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1200px) {
  .subscription__button {
    margin-left: 12px;
  }
}
.subscription__icon {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */