button {
    font-family: inherit;
    border: 0;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
    cursor: pointer;
    background-color: $accent-color;
    color: #ffffff;
    border: 0;
    box-shadow: $card-shadow;}
}

