.logo {
    font-family: 'Raleway';
    @include font (700, 26px, 1.19, null);
    text-decoration: none;
    color: $primary-text-color;

    @media screen and (min-width:1200px) {
        margin-right: 93px;
    }

    @media screen and (max-width:767px) {
         padding: 16px 0;
    }

    &--footer {
        display: inline-block;
        padding: 0 40px;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
        color: #ffffff;

        @media screen and (min-width:768px) {
            display: inline-block;
        }
        @media screen and (min-width:1200px) {
            padding: 0;
            margin-left: 0;
        }
    }
}
