.clients {
    padding-top: 94px;
    padding-bottom: 94px;

    &__text {
        @include font(700, 36px, 1.16, null);
        text-align: center;
        margin-bottom: 50px;
    }

    &__list {
        @include flex(flex, center, center);
        margin: 0 auto;
        padding: 0;
    }

    &__item {
        margin-left: 30px;

        &:first-child {
            margin-left: 0px;
        }
    }

    &__icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link {
        @include flex(flex, center, center);
        width: 170px;
        height: 92px;
        fill: #AFB1B8;
        border: 1px solid #AFB1B8;
        border-radius: $border-radius;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            border-color: $accent-color;
        }

        &:hover  .clients__icon,
        &:focus  .clients__icon {
            fill: $accent-color;
        }
    }
}