.features {
    padding-bottom: 60px;
    padding-top: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 0px;
    }

    &__list {
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;


        @media screen and (min-width:768px) {
            @include flex(flex, flex-start, null);
        }
       
    }

    &__item {
    
        @media screen and (min-width:768px) {
            width: calc((100% - 30px) / 2);
        }
        
        @media screen and (min-width:1200px) {
            width: 270px;
        }
    }

    &__icon {
        position: relative;
        width: 100%;
        height: 120px;
        margin-bottom: 30px;
        background-color: #F5F4FA;
        

        @media screen and (min-width:768px) {
            @include flex(flex, center, center);
            width: 100%;
        }
        
    }
    &__svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        @media screen and (max-width:767px) {
            text-align: center;
        }

        @include font(700, 14px, 1.14, null);
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__subtitle {
        color: $subtittle-text-color;
    }
}

.services {
    @media screen and (max-width:1199px) {
        display: none;
    }

    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        @include font(700, 36px, 1.16, null);
        margin-bottom: 50px;
        text-align: center;
    }

    &__list {
        display: flex;
        padding: 0px;
        margin: 0px;
    }
    &__item {
        margin-left: 30px;

        &:first-child {
            margin-left: 0px;
        }
    }

    &__thumb {
        position: relative;
    }

    &__desc {
        @include flex(flex, center, center);
        @include font(700, 14px, 1.14, 0.03em);
        position: absolute;
        bottom: 0;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        background: rgba(47, 48, 58, 0.8);
        width: 370px;
        height: 70px;
    }
}