.header {
    border-bottom: 1px solid #ECECEC;
    align-items: center;

    &__container {
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
           
    &__icon {
        fill: currentColor;
        @include flex(flex, center, center);
        margin-right: 10px;
    }

    &__item {
        margin: 0;

        @media screen and (min-width:768px) and (max-width:1199) {
            &:last-child {
                margin-top: 10px;
            }
        }

        @media screen and (min-width:1200px) {
            margin-left: 50px;
            &:first-child {
             margin-left: 0px;
            }
        }
        
    }

    &__contacts {
        display: none;
        
        @media screen and (min-width:768px){
            display: flex;
            margin-left: auto;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 17px;
            padding-bottom: 17px;
            padding-left: 0px;
        }
        

        @media screen and (max-width:1199px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media screen and (min-width:1200px) {
            @include flex(flex, center, flex-end);
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

    &__link {
        color: $subtittle-text-color;
        
        @include font(500, null, 1.14, 0.02em);
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-color;
        }

        &--mail{
            @include flex(flex, center, flex-end);
            padding: 0;
        }
        &--phone {
            @include flex(flex, center, flex-end);
            padding: 0;
            @media screen and (max-width:1199px) {
              margin-top: 10px;
            }
        }

    }
}

.site-nav {
    display: none;
    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
    }

    @media screen and (max-width:1199px) {
        justify-content: center;
        margin: 0 auto;
    }

    &__menu {
        display: flex;
        padding: 0px;
        margin: 0px;
    }

    &__item {
        margin-left: 50px;

        &:first-child {
            margin-left: 0px;
        }
    }

    &__link {
        display: block;
        position: relative;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 3px;
        padding-right: 3px;
        color: $primary-text-color;
        text-decoration: none;

        font-family: inherit;
        @include font(500, 14px, 1.14, 0.02em);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &--current {
            color: $accent-color;
        }

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }

}

.icon-menu {
    display: none;
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;

    &:hover,
    &:focus {
        fill: $accent-color;
        border: none;
    }

    @media screen and (max-width:767px) {
      display: block;  
    }
}

.mob-menu {
    &__button{
        display: block;
        margin-left: auto;
        padding: 0;
        border: none;
        background-color: transparent;
    
        &:hover,
        &:focus {
            fill: $accent-color;
        }
    }
      
    &__container {
        display: none;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
        padding: 48px 40px;
        transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &.is-open {
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }

    &__item {
        margin-bottom: 32px;
    }

    &__link {
        color: $subtittle-text-color;

        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-color;
        }

        &--phone {
            @include font(500, 34px, 1.17, 0.02em);
            color: $accent-color;

        }

        &--mail {
            @include font(500, 24px, 1.17, 0.02em);
        }
    }

    &__soc {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 32px, 0, 0, 0;
    
        &-item {
            padding-right: 10px;
            padding-left: 10px;
    
            border-right: 1px solid rgba(33, 33, 33, 0.2);
            ;
    
            &:first-child {
                padding-left: 0;
            }
    
            &:last-child {
                padding-right: 0;
                border-right: none;
            }
        }
    
        &-link {
            text-decoration: none;
            @include font(500, 18px, 1.22, 0.02em);
            color: $accent-color;
            font-family: inherit;
        }
    }
}

.mob-site-nav {
    display: none;
    &__menu {
        display: block;
        padding: 0px;
        margin: 0px;
    }

    &__item {
        margin-bottom: 32px;
    }

    &__link {

        font-family: inherit;
        @include font(500, 40px, 1.17, 0.02em);
        position: relative;
        color: $primary-text-color;
        text-decoration: none;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


        &--current {
            color: $accent-color;
        }

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
    @media screen and (max-width:767px) {
        display: block;
    }
}