.hero {
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    padding: 200px 0 200px 0;
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;

    &__text {
        text-align: center;
        width: 696px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        color: #ffffff;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;}

    &__button {
        padding: 10px 32px;
        @include font(700, 16px, 1.88, 0.06em);
    
        background-color: $accent-color;
        color: #ffffff;
        height: 50px;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    padding: 40px;

    background-color: $background-color;
    box-shadow: $card-shadow;
    border-radius: $border-radius;

    &__close-symbol {
        @include flex(flex, center, center)
    }
    &__close-btn {
        position: absolute;
        top: 8px;
        right: 8px;
    
        width: 30px;
        height: 30px;
        background: $background-color;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    
        &:hover, &:focus {
            background: $background-color;
            fill: $accent-color;
        }
    }

    &__text {
        @include font(700, 20px, 1.15, null);
        margin-bottom: 12px;
    }
}

.feedback-form {
    &__field {
        display: block;
        position: relative;
        margin-bottom: 10px;
    }

    &__comment {
        margin-bottom: 20px;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 11px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__label {
        @include flex(flex, null, flex-start);
        @include font(400, 12px, 1.16, 0.01em);
        margin-bottom: 4px;
        color: $subtittle-text-color;
    }

    &__input {
        width: 100%;
        height: 40px;
        padding-left: 42px;
        font-size: 12px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: $border-radius;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            border-color: $accent-color;
        }
        &:focus + .feedback-form__icon{
            fill: $accent-color;
        }
    }

    &__input-comment {
        display: block;
        width: 100%;
        height: 120px;
        resize: none;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: $border-radius;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            border-color: $accent-color;
        }
    }

    &__checkbox {
        @include flex(flex, center, center)
    }

    &__input-check:checked + &__label-check span {
        background-color: $accent-color;
        border-color: $accent-color;
        fill: #FFFFFF;
    }

    &__input-check:focus + &__label-check span {
        border-color: $accent-color;
    }

    &__label-check {
        @include flex(flex, center, center);
        @include font(400, 14px, 1.71, 0.03em);
        margin-bottom: 0;
        margin-right: 5px;

        & span {
            @include flex(flex, center, center);
            width: 16px;
            height: 16px;
            border: 2px solid $primary-text-color;
            border-radius: $border-radius;
            margin-right: 8px;
            fill: transparent;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__policy-link {
        @include font(400, 14px, 1.71, 0.03em);
        margin: 0;
        color: $accent-color;
        text-decoration: none;
        border-bottom: 1px solid $accent-color;
    }

    &__button {
        @include font(700, 16px, 1.88, 0.06em);
        background-color: $accent-color;
        color: $background-color;
        width: 200px;
        height: 50px;
        padding: 10px 52px;
        margin-top: 30px;
    }
}