.team {
    background-color: $section-color;
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__text {
        @include font(700, 36px, 1.16, null);
        margin-bottom: 50px;
        text-align: center;
    }

    &__member {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0px;
        padding: 0px;

        @media screen and (min-width:768px) {
            @include flex(flex, center, center);
        }
        
    }

    &__item {
        border-radius: $border-radius;
        box-shadow: $card-shadow;
        background-color: $card-color;
        width: 100%;
        max-width: 450px;

        @media screen and (min-width:768px) {
            width: calc((100% - 30px) / 2);
        }

        @media screen and (min-width:1200px) {
            width: 270px;
        }
        
    }
}

.team-soc {
    @include flex(flex, null, center);
    padding: 0;
    gap: 10px;

    &__item {
        margin: 0;
    }

    &__link {
        @include flex(flex, center, center);
        height: 44px;
        width: 44px;
        border-radius: 50%;
        color: #AFB1B8;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            background-color: $accent-color;
            color: $background-color;
        }
    }

    &__icon {
        fill: currentColor;
    }
}

.team-desc {
    text-align: center;
    padding: 30px 0;

    &__title {
        @include font(500, 16px, 1.18, null);
        text-align: center;
        margin-bottom: 10px;
    }

    &__subtitle {
        color: $subtittle-text-color;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        margin-bottom: 16px;
    }
}